/CleanArch/.vs/CleanArch/FileContentIndex/4b45c29d-dd21-4bb9-bfe6-305c368cd33c.vsidx
/CleanArch/.vs/CleanArch/FileContentIndex/6b748cfa-8d44-4731-af2b-effe473c4c65.vsidx
/CleanArch/.vs/CleanArch/FileContentIndex/871aefff-28d9-4937-bd38-5b219b33e577.vsidx
/CleanArch/.vs/CleanArch/FileContentIndex/9ca65c5e-b22a-4cd0-bf94-35da0dadb106.vsidx
/CleanArch/.vs/CleanArch/FileContentIndex/c4592cc5-ed21-4710-a358-7584f55ebe14.vsidx
